*.a
*.aps
*.bak
*.bin
[Bb]in
*.cache
[Dd]ebug*/
*.dylib
*.exe
*_i.c
*.ilk
*.la
*.lai
*.lib
*.lo
*.log
*.ncb
*.o
*.obj
obj/
*_p.c
*.pch
*.pdb
_ReSharper*/
[Rr]elease*/
*.sbr
*.slo
*.so
*.suo
Thumbs.db
*.tlb
*.tlh
[Tt]est[Rr]esult*
*.user
*.vspscc
